@model coderush.Models.ApplicationUser
@inject coderush.Data.ApplicationDbContext Context

@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@profile.ProfilePicture" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@profile.FirstName @profile.LastName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            
            <li>
                <a href=""><span class="header">User A</span></a>
                <ul>
                    <li class="@Html.IsSelected(controller: MainMenu.Salesman.ControllerName)">
                        <a href="@MainMenu.Salesman.Path">
                            <i class="fa fa-building-o"></i> <span>@MainMenu.Salesman.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.SalesTargetView.ControllerName)">
                        <a href="@MainMenu.SalesTargetView.Path">
                            <i class="fa fa-building-o"></i> <span>@MainMenu.SalesTargetView.PageName</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href=""><span class="title">User B</span></a>
                <ul>
                    
                    <li class="@Html.IsSelected(controller: MainMenu.SalesmanView.ControllerName)">
                        <a href="@MainMenu.SalesmanView.Path">
                            <i class="fa fa-building-o"></i> <span>@MainMenu.SalesmanView.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.SalesTarget.ControllerName)">
                        <a href="@MainMenu.SalesTarget.Path">
                            <i class="fa fa-building-o"></i> <span>@MainMenu.SalesTarget.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href=""><span class="title">Supervisor</span></a>
                <ul>
                    <li class="@Html.IsSelected(controller: MainMenu.SalesmanSupervisor.ControllerName)">
                        <a href="@MainMenu.SalesmanSupervisor.Path">
                            <i class="fa fa-building-o"></i> <span>@MainMenu.SalesmanSupervisor.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>


            @*<li class="header">USER & ROLE</li>
        <li class="@Html.IsSelected(controller: MainMenu.User.ControllerName, action: MainMenu.User.ActionName)">
            <a href="@MainMenu.User.Path">
                <i class="fa fa-users"></i> <span>@MainMenu.User.PageName</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: MainMenu.Role.ControllerName, action: MainMenu.Role.ActionName)">
            <a href="@MainMenu.Role.Path">
                <i class="fa fa-gear"></i> <span>@MainMenu.Role.PageName</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: MainMenu.ChangeRole.ControllerName, action: MainMenu.ChangeRole.ActionName)">
            <a href="@MainMenu.ChangeRole.Path">
                <i class="fa fa-gear"></i> <span>@MainMenu.ChangeRole.PageName</span>
            </a>
        </li>*@
        </ul>
</section>
    <!-- /.sidebar -->
</aside>